<div class="container">
  <h2>Metodo de Integración por Trapecio</h2>
  <br>
  <form  >
  <div class="row">
    <div class="col-6">
      <div class="col-12">
        <h4>Ingrese la ecuación:</h4>
        <input type="text" class="form-control"(keyup.enter)="graficadora(ecuacion.value)" (blur)="graficadora(ecuacion.value)" #ecuacion placeholder="Ej: x^2 + 2*x"    >
      </div>
      <div class="col-12">
        <br>
        <h4>Limite inferior:</h4>
        <input type="text" class="form-control" #limI placeholder="Ej:7" >
      </div>
      <div class="col-12">
          <br>
          <h4>Limite superior:</h4>
          <input type="text" class="form-control" #limS placeholder="Ej:8" >
        </div>
        <div class="col-12">
            <br>
            <h4>Numero de particiones:</h4>
            <input type="text" class="form-control" #n placeholder="Ej:100" >
          </div>
      <div class="col-12">
          <br>
          <button class="btn btn-primary btn-lg btn-block"  (click)="trapecio(ecuacion.value, limI.value,limS.value,n.value)" type="button">Evaluar</button>  
          </div>
          

    </div>
    <div class="col-6">
        <div class="col-12" >
       
          </div>
    <img src = "{{plot}}" width="100%"> 
  </div>
  </div>
</form>
<div>
  <p>Área aproximada: {{resultado.area}}</p>
  <p>Error: {{resultado.error}}</p>
</div> 

</div>