<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>EVALUADOR DE FUNCIONES</title>
    
  </head>
<div class="container">
  <h2>Evaluador</h2>
  <br>
  <form  >
  <div class="row">
    <div class="col-6">
      <div class="col-12">
        <h4>Ingrese la ecuación:</h4>
        <input type="text" class="form-control"  #ecuacion placeholder="Ej: x^2 + 2*x" >
      </div>
      <div class="col-12">
        <br>
        <h4>Xo:</h4>
        Nota: si se utiliza pi o funciones trigonometricas el resultado es en radianes
        <input type="text" class="form-control" #valor placeholder="Ej:7" >
      </div>
      <div class="col-12">
          <br>
          <button class="btn btn-primary btn-lg btn-block"  
          (click)="evaluar(ecuacion.value, valor.value,xminimo.value,xmaximo.value,muestreo.value)" type="button">Evaluar</button>  
      </div> 
      <br>
      <br>
      <div class="col-12" *ngIf="respuesta">
       
          <h4>F(x): {{resultado.response}}</h4> 
        </div>  
    </div>
    <div class="col-6">
      <div class="col-12" >
          <div class="col-12">
              <p>Modifique las caracteristicas de la gráfica para ver otros rangos en el eje x:</p>
              <h4>x minimo:</h4>
              <input type="text" class="form-control" value=-10 #xminimo placeholder="-10" >
          </div> 
          <div class="col-12">
              <br>
            <h4>Cantidad de muestras en el area de la grafica:</h4>
            <input type="text" class="form-control" value=100 #muestreo placeholder="100">
          </div>
          <div class="col-12">
            <br>
            <h4>x máximo:</h4>
            <input type="text" class="form-control" value=4 #xmaximo placeholder="4">
          </div>               
      </div>
      <img src = "{{plot}}" width="100%"> 
    </div>
  </div>
</form>

</div>
</html>